extends layout

block content
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <div id="home" class="container-fluid bg-light" style="width: 100%">
        <div class="row">
            <div class="w-100 h-100">
                //<img class="img-responsive rounded" src="banner2.png" style="width: 100%">
                <img class="img-responsive rounded" src="banner_original.png" style="width: 100%">
            </div>
        </div>
    </div>

    <div id="about" class="container-fluid bg-light w-100 text-center" style="padding-top:50px;padding-bottom:50px">
    <h1 style="margin-bottom: 20px">Why us?</h1>
    <p>We empower creaters to develop an Alexa Skill <u>WITHOUT</u> the need to write code!</p>
    <p>We created graphical building blocks for you to make building a skill as simple as possible. </p>    
    </div> 
    <div id="section3" class="container-fluid bg-secondary w-100 text-center" style="padding-top:50px;padding-bottom:50px">
        <h1 style="margin-bottom: 20px">Step by Step Guide</h1>
        <div class="card-deck">
            <div class="card bg-warning">
                <div class="card-body text-center">
                <h2 class="mb-2"> <i class="fas fa-smile-wink mb-2" style="margin-right: 8px"></i>Sign Up</h2>
                <p class="card-text"> Sign up for free-dollars!</p>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center mb-2">
                <h2 class="mb-2"> <i class="fas fa-plus-square" style="margin-right: 8px"></i> Create a skill</h2>
                <p class="card-text">Click <b><u>New Skill</u></b> to begin a new project.</p>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center mb-2">
                <h2 class="mb-2"> <i class="fas fa-save" style="margin-right: 8px"></i> Save your work</h2>
                <p class="card-text">Be sure to regularly <b><u>Save</u></b> so you dont lose progress!</p>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center mb-2">
                <h2 class="mb-2"> <i class="fas fa-check" style="margin-right: 8px"></i>Success</h2>
                <p class="card-text">When you are finished, click <b><u>Generate</u></b> and we'll turn the dream into a reality!</p>
                </div>
            </div> 
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark text-light">
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a> AlexaSkillGenerator.com</a>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
