extends layout

block content
  head
    h1 #{title}
  body(class= 'text-center')
  
  left
    ul
      if signed_in
        li <a href="/">My Skills</a> 

      li <a href="/">Public Skills</a>
      li <a href="/">Sample Skills</a>
      // below here should iterate through skills table and display what is desired
      //for now it will display some random stuff for concept
    ul  
      -  var filler = ['button','button','button','button','button','button','button','button','button','button','button','button']
      each val, index in filler
        ul
          p  #{val} #{index}
  