doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    ul
      li <a href="/">Home</a>
      li <a href="/signup">Sign Up</a>
      li <a href="/design">Design</a>
      li <a href="/about">About</a>
    
  body
    block content
