doctype html

html
  head
    title= title
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    // Font Awesome Icons
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')

    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top.row
      ul.navbar-nav.col-9
        li.nav-item
          a.nav-link.ml-2.mr-2(href='/#home') Home
        li.nav-item
          a.nav-link.ml-2.mr-2(href='/#about') About
        if signed_in
          li.nav-item.dropdown
            a#navbardrop.nav-link.dropdown-toggle.mr-2.ml-2(href='#', data-toggle='dropdown') Account
            .dropdown-menu
              a.dropdown-item(href='/profile') Profile
              // TODO: Link to dashboard if we have one, otherwise remove.
              // a.dropdown-item() Dashboard
              a.dropdown-item(href='/logout') Sign Out
        else
          a(href='/signin')
            button.btn.btn-primary(type='button') Sign In
          a(href='/signup')
            button.btn.btn-primary.ml-2(type='button') Register
      .d-flex.flex-row-reverse.bd-highlight.col-3
        if signed_in
          a(href='/design')
            button.btn.btn-danger(type='button')
              | New Skill 
              i.fas.fa-plus-square(style='margin-left: 8px')
        else
          a(href='/design')
            button.btn.btn-danger(type='button', disabled)
              | New Skill 
              i.fas.fa-plus-square(style='margin-left: 8px')
  body.pt-5
    block content