extends layout

block content
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  title Profile
  .container.mt-5
    .row
      .col-12
        .card
          .card-body
            .card-title.mb-4
              .d-flex.justify-content-start
                .userData.ml-3
                  h2.d-block.mb-3(style='font-size: 1.5rem; font-weight: bold') Tim Cook
                  h6.d-block
                    a(href='javascript:void(0)') 11
                    |  Skills Created
                .ml-auto
                  input#btnDiscard.btn.btn-primary.d-none(type='button', value='Discard Changes')
            .row
              .col-12
                ul#myTab.nav.nav-tabs.mb-4(role='tablist')
                  li.nav-item
                    a#basicInfo-tab.nav-link.active(data-toggle='tab', href='#basicInfo', role='tab', aria-controls='basicInfo', aria-selected='true') Basic Info
                #myTabContent.tab-content.ml-1
                  #basicInfo.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='basicInfo-tab')
                    .row
                      .col-sm-3.col-md-2.col-5
                        label(style='font-weight:bold;') Email
                      .col-md-8.col-6
                        p  Tim.Cook@apple.com 
                    hr
                    .row
                      .col-sm-3.col-md-2.col-5
                        label(style='font-weight:bold;') Account Created:
                      .col-md-8.col-6
                        p  March 22, 2018 
                    hr
                    .row
                      .col-sm-3.col-md-2.col-5
                        label(style='font-weight:bold;') Fav Hobby:
                      .col-md-8.col-6
                        p Long Walks on the beach 
                    hr
                    .row
                      .col-sm-3.col-md-2.col-5
                        label(style='font-weight:bold;') Phobia:
                      .col-md-8.col-6
                        p Microsoft
                    hr
  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
